{% extends "base.html" %}
{% block topbar %}{% endblock %}
{% block header %}{% endblock %}
{% block banner %}{% endblock %}
{% block body %}
	<section id="main-container" class="main-container">
      <div class="container">
         <div class="logo-area clearfix">
            <div class="logo col-xs-12 col-md-3">
               <a href="/">
                  <img src="/static/images/logo.png" alt="SKAR EDUCATION">
               </a>
            </div><!-- logo end -->
         </div>
         <div class="gap-40"></div>
        <div class="row">
            <div class="col-md-12">          
               <h3 class="column-title text-center">SKAR EDUCATION - ADMIN PANEL</h3>
            </div>
         </div><!-- Content row -->
         <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
               <div class="sidebar sidebar-left">
                 <div class="widget">
                     <h3 class="widget-title">Archives </h3>
                     <ul class="arrow nav nav-tabs nav-stacked">
                        <li><a href="#">Admissions</a></li>
                        <li><a href="#">Tutors</a></li>
                        <li><a href="#">Students</a></li>
                     </ul>
                  </div><!-- Archives end -->
                  <div class="widget">
                     <h3 class="widget-title">Reports </h3>
                     <ul class="arrow nav nav-tabs nav-stacked">
                        <li><a href="#">Admissions</a></li>
                        <li><a href="#">Tutors</a></li>
                        <li><a href="#">Students</a></li>
                     </ul>
                  </div><!-- Archives end -->
               </div><!-- Sidebar end -->
            </div><!-- Sidebar Col end -->

            <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
               <div class="post">
                  <div class="post-body">
                     <div class="entry-header">
                        <h2 class="entry-title">
                           Admisisons
                        </h2>
                     </div><!-- header end -->

                     <div class="entry-content">
                        <table border="1" width="100">
                           
                        </table>
                     </div>
                  </div><!-- post-body end -->
               </div><!-- 1st post end -->



            </div><!-- Content Col end -->

         </div>
      </div><!-- Conatiner end -->
   </section><!-- Main container end -->
{% endblock %}
{% block footer %}{% endblock %}